{% extends "forty-cookieconsent/_layouts/_settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Cookie Consent" %}
{% set selectedSubnavItem = "settings" %}

{% set fullPageForm = true %}

{% block content %}
	{{ actionInput("plugins/save-plugin-settings") }}
	{{ hiddenInput("pluginHandle", "forty-cookieconsent") }}

	<div id="fields">
		{% namespace "settings" %}
			{{ forms.lightswitchField({
				label: "Enable the cookie consent popup"|t("forty-cookieconsent"),
				name: "isEnabled",
				on: settings.isEnabled,
			}) }}
		{% endnamespace %}
	</div>
{% endblock %}
